[mcu cartographer]
serial: /dev/serial/by-id/usb-Cartographer_614e_27001F000E43304146393320-if00
restart_method: command

[cartographer]
mcu: cartographer
#   Offsets are measured from the centre of your coil, to the tip of your nozzle
#   on a level axis. It is vital that this is accurate.
x_offset: 0
y_offset: 20
verbose: no
# Below are from older carto firmware:
# backlash_comp: 0.0034  #  Backlash compensation distance for removing Z backlash
# sensor: cartographer  #  This must be set as cartographer unless using IDM etc.
# sensor_alt: carto     #  Alternate name to call commands. CARTO_TOUCH etc
# mesh_runs: 2          #  Number of passes to make during mesh scan.

[bed_mesh]
zero_reference_position: 150,150  # set this to the middle of your bed
speed: 300                        # movement speed of toolhead during bed mesh
horizontal_move_z: 3              # height of scanner during bed mesh scan
mesh_min: 50,50                   # start point of bed mesh [X, Y]
mesh_max: 250,250                 # end point of bed mesh [X, Y]
probe_count: 16,16
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough
#algorithm: bicubic

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105
